:root {
  // default bg colors
  --c-brand: #ff6188;
  --c-brand-light: #78dce8;

  // custom container colors
  --c-tip: #a9dc76;
  --c-warning: #ffd866;
  --c-danger: #ff6188;

  scroll-behavior: smooth;
}

.home .hero .action-button.primary {
  background-color: var(--c-brand-light);
  border-color: var(--c-brand-light);
}

html.dark {
  --c-brand: #ff6188;
  --c-brand-light: #78dce8;
}

html.dark .home .hero .action-button.primary {
  color: #fff;
}
